{% extends 'base.html' %}

{% block content %}
  <div class="card">
    <h2>Crear cliente</h2>
    <form method="post">
      <div class="form-row">
        <label>Nombre <br><input name="name" required></label>
        <label>ID o NIT<br><input name="id_nit" type="text" placeholder="Ej: 123456789-0"></label>
        <label>Teléfono<br><input name="phone" type="tel"></label>
      </div>
      <div class="form-row">
        <label>Email<br><input name="email" type="email"></label>
        <label>Dirección<br><input name="address"></label>
      </div>
      <div>
        <label>Notas<br><textarea name="notes"></textarea></label>
      </div>
      <div style="margin-top:1rem;display:flex;gap:.5rem">
        <button class="btn btn-primary" type="submit">Guardar cliente</button>
        <a class="btn btn-outline" href="{{ url_for('clients') }}">Cancelar</a>
      </div>
    </form>
  </div>
{% endblock %}
